<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DNSimple_UpdaterEnabled" value="false"/>
    <add key="DNSimple_EmailAddr" value=""/>
    <add key="DNSimple_Pword" value=""/>
    <add key="DNSimple_Domain" value=""/>
    <add key="DNSimple_RecordId" value=""/>
    <add key="DNSimple_RecordName" value=""/>
    <add key="DNSimple_UpdateFreqMinutes" value="60"/>
    <add key="DNSimple_IpAddressType" value="JsonIp.com"/>
  </appSettings>
</configuration>