<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAddress" value=""/>
    <add key="Password" value=""/>
    <add key="Domain" value=""/>
    <add key="RecordId" value=""/>
    <add key="RecordName" value=""/>
    <add key="UpdateFrequencyMinutes" value="60"/>
    <add key="IpAddressType" value="JsonIp.com"/>
  </appSettings>
</configuration>